.abheader{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Pictures/About\ us\ Page/2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}
.abheader h1{
    margin-top: 150px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img{
     width: 100%;
}
.about-col h1{
    padding-top: 0;
    font-size: 48px;
}
.about-col p{
    padding: 15px 0 25px;
    font-size: 18px;
    color: gray;
}
